#text_content_about_me{
    padding-left: 10vh;
    padding-right: 30vh;
}
#img_about_me{
    padding-right: 10vh;
}
.about-me {
    background-color: black;
}
#description_about_me{
    color: white;
    font-size: 4vh;

}
#Title_about_me{
    color: gray;
    font-size: 10vh;
    padding-bottom: 5vh;
}
#Photo_about_me{
    width: 80vh;
    height: auto;
}
