#text_content_about_me{
    padding-left: 20vh;
    padding-right: 30vh;
}
#img_about_me{
    padding-right: 30vh;
}
.about-me {
    background-color:  #100c0c ;
}
#description_about_me{
    color: white;
    font-size: 3vh;
    font-family: "IBM Plex Sans", serif;

}
#Title_about_me{
    background: linear-gradient(to top, white, #47ffb2);
    -webkit-background-clip: text; /* Aplica el degradado al texto */
    -webkit-text-fill-color: transparent; /* Hace que solo el texto muestre el degradado */
    font-size: 6.5vh;
    padding-bottom: 5vh;
    font-family: "Merriweather", serif;
}
#Photo_about_me{
    width: 80vh;
    height: auto;
}
#Expensive_text{
    color: #49ffb3;
}
.about-me{
    padding-left: 10vh;

}