.profile-entry {
    background-color: black;
}

#Photo_profile {
    width: 50vh;
    height: 50vh;
    object-fit: cover; /* Asegura que la imagen mantenga su proporción y se recorte adecuadamente */
    border-radius: 50%;
}
/* Asegura que el contenido textual no se desborde */
.text-content {
    padding: 10vh;
    max-width: 40%;
    color:#3ccf91;
}
/* Título y descripción */
#Titule {
    font-size: 6.5vh;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: "Merriweather", serif;
}
#Frase {
    background: linear-gradient(to right, white, #47ffb2);
    -webkit-background-clip: text; /* Aplica el degradado al texto */
    -webkit-text-fill-color: transparent; /* Hace que solo el texto muestre el degradado */
}

#Description {
    padding-top: 2vh;
    font-size: 3vh;
    line-height: 1.6;
    color: white;
    font-family: "IBM Plex Sans", serif;
}
