#Section.Work{
    background-color: Black;
}
#Title.Work{
    color: white;
    font-size: 6.5vh;
    font-family: "Merriweather", serif;

}
#Front_content.Work{
    background: linear-gradient(-135deg, #00834198, #86868680);
    width: 150vh;
    height: 70vh;
    border-radius: 30px;
    display: flex;
    justify-content: space-between; /* Espacia los elementos dentro del contenedor */
    align-items: center; /* Alinea verticalmente los elementos si tienen alturas diferentes */
}
#Section.Work {
    display: flex;
    flex-direction: column; /* Alinear elementos en columna (uno debajo del otro) */
    align-items: center; /* Centrar horizontalmente */
  }
  
#Title_Content.Work {
    margin-bottom: 20px; /* Espaciado entre el título y el contenido */
  }
  
#Content.Work {
    width: 100%; /* Asegura que ocupe el espacio completo */
  }
#Index.Work_content{
    background-color: rgb(71, 71, 71);
    height: 70vh;
    width: 40vh;
    border-top-left-radius: 30px; /* Esquina superior izquierda */
    border-bottom-left-radius: 30px; /* Esquina inferior izquierda */
}
#Description.Work_content{
    height: 98%;
    width: 57vh;

    
}
#Logros.Work_content{
    height: 100%;
    width: 50vh;
    border-top-right-radius: 30px; /* Esquina superior izquierda */
    border-bottom-right-radius: 30px; /* Esquina inferior izquierda */
    
}
#Content_trabajo_1.Index{
    width: 38vh;
    height: 15vh;
    color: white;
    font-family: "Merriweather", serif;
    display: flex; /* Activa flexbox */
    align-items: center; /* Centra verticalmente los elementos */
    gap: 10px; /* Espacio entre los elementos */
    padding-left: 2vh;
    border-top-left-radius: 30px; /* Esquina superior izquierda */
    transition: all 0.3s ease; /* Suaviza el efecto */
    cursor: pointer; /* Cambia el cursor a una mano */
}
/* Efecto hover (expansión e iluminación) */
#Content_trabajo_1.Index:hover {
    transform: scale(1.05); /* Expande ligeramente */
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.7); /* Ilumina con una sombra */
    background-color: #3ccf91; /* Cambia el color ligeramente */
}

#Imperio_del_plastico.Index{
        width: 10vh;       /* Tamaño de la imagen */
        height: 10vh;      /* Mantenerla cuadrada */
        border-radius: 50%; /* Hace que sea circular */
        object-fit: cover;  /* Asegura que la imagen se ajuste correctamente */
        
}
#Title.Description{

    color: white;
    font-size: 4vh;
    font-family: "Merriweather", serif;
    padding-left: 4vh;
}
#TimeLine.Description{
    padding-top: 2vh;
    font-family: "IBM Plex Sans", serif;
    padding-left: 4vh;
}
#Resume.Description{
    padding-top: 2vh;
    font-family: "IBM Plex Sans", serif;
    padding-left: 4vh;
    padding-right: 7vh;
}
#Logros.Work_content{
    font-family: "IBM Plex Sans", serif;
    color: white;
    padding-top: 10vh;
    padding-right: 4vh;
}